<table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of paginatedData">
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
      </tr>
    </tbody>
  </table>
  
  <div>
    <button (click)="previousPage()" [disabled]="currentPage === 0">Anterior</button>
    <span>Página {{ currentPage + 1 }}</span>
    <button (click)="nextPage()" [disabled]="paginatedData.length < itemsPerPage">Siguiente</button>
  </div>
  